.Cell {
  height: min(100px, 12vh);
  width: min(100px, 12vh);
  border-radius: 1px;
  background-color: #263238;
  transition: background-color 0.6s ease;
}

.Cell:hover {
  background-color: #5e666a;
  transition: none;
}

.Cell-lit {
  background-color: #00bcd4;
}

.Cell-lit:hover {
  background-color: #7fbdc5;
  transition: none;
}